In [28]:
# Funtion to print all combinations of pairs of integers in a unique list
# [1,2,3]--(1,2),(1,3),(2,3) -->3C2 -->3! /((3-2)! * 2!) -->6/2 -->3

#[1,2,3,4]-->1,2 1,3 1,4 2,3 2,4 3,4
#[1,2,3,4]-->1,2,1,3,3
def combinations2(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
                print(abs(li[i]-li[j]))
combinations2([3,8,15])

5
12
7

In [28]:
li=[1,2,3]

In [37]:
# [1,2,3]-->[1,2,3,1,2,1]-->[1,2,3]
def mediumproblem(li,k):
    while True:
            li3=Differencespairs(li)
            if(li3[0]==li3[1]):
                break
    if(len(li3[0])>=k):            
        return sorted(li3[0],reverse=True)[k-1]
    else:
        return -1
# Funtion To identify of all pairs of numbers
# Pairs of numbrs and add those differences
# to the same list
# it returns the updated list and original list
def Differencespairs(li):
    cli=li[:]
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(int(li[i])-int(li[j]))
            if (d not in li) and (d not in newelements):
                  newelements.append(str(d))
    li.extend(newelements)
    return [cli,li]
with open('Data/Mediuminput.txt','r') as f:
    t=int(f.readline())
    for i in range(t):
#         f.readline()
        li=f.readline().split()
        k=int(f.readline())
        mediumproblem(li,k)

ValueError: invalid literal for int() with base 10: ''

In [39]:
# list data referencing vs Data copy
a=[1,2,3]
b=[1,3,2]
a=b.copy() # Data copy through indirect referencing
a=b[:] # Data copy through direct referencing
b.append(4)
a.append(5)

In [48]:
# [4,8]
# [20,40,60]
# [4,8,12,16]
# [3,6,9,12]
# # convert the list into an
# # Arithmatic Progresson
# [3,8,15]-->
# [3,8,15,5,2,1,4,6,9,10,11,12,13,14]
def diferencespaires(li):
    c=li.copy()
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [c,li]
    
li=[2, 3, 6, 9, 12, 1, 4, 7, 10 ,5,8,11]
diferencespaires(li)

[[2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11],
 [2, 3, 6, 9, 12, 1, 4, 7, 10, 5, 8, 11]]

In [27]:
def combinationsof3(li):
    t=1
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(t,").",li[i],li[j],li[k])
                t=t+1
combinationsof3([3,8,15])

1 ). 3 8 15

### Set  - Data Structure in Python
    -->Representedby {}
    -->Only unique elements

In [105]:
a={1,2,3,4,1,3,4,5,7,8}
a.add(6)# adding single element to the set
for i in a:
    print(i,end=' ')# Accessing Elements
b=[10,20,30,40]
a.update(b) # Adding multiple elements
a
a.discard(10)
a.remove(5)
a

1 2 3 4 5 6 7 8

{1, 2, 3, 4, 6, 7, 8, 20, 30, 40}

In [83]:
a={10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
c={111,123}
a.union(b)==b.union(a)
# A U B = B U A
a.intersection(b)==b.intersection(a)
# A n B = B n A

True

In [84]:
a.isdisjoint(c)

True

In [85]:
a-b # all  elements of a which are not in b

{4, 5, 6, 10}

In [86]:
a-c

{1, 2, 3, 4, 5, 6, 10}

In [87]:
c-a

{111, 123}

In [89]:
l=sorted(a)

In [91]:
type(l)

list

In [92]:
a^b #  elements either in a or b or uncommon elements

{4, 5, 6, 7, 8, 9, 10}

In [93]:
d=set() # emty set
type(d)

set

In [95]:
l=[1,2,3,1,2,3,1,2,3]
l=set(l)
l

{1, 2, 3}

### List Comprehencsion

In [103]:
# list of n natural number
# n=10
# l=[]
# for i in range(1,n+1):
#     l.append(i)
# l
l=[i for i in range(1,11)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [104]:
# Apply list comprehension to store the cubes of n natural numbers
li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [110]:
# Funtion to calculate the m factorial
def factorial(n):
    if n == 0  or n==1:
        return 1
    else:
        return n*factorial(n-1)
# Apply List Comprehension to calculate factorial of n natural number
# Factorial of  n natural number
n=10
fact=[factorial(i) for i in range(1,n+1)]
fact

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [132]:
# Calculate  store cumulative sum of numbers till n in a list
#n=3,[1,3,6]

l=[sum(range(1,i+1)) for i in range(1,n+1)]
l

[1, 3, 6, 10, 15]

In [140]:
# Funtion to store only leap years in a given  time period
st=1970
et=2019
l=[year for year in range(st,et+1) if (( year%400 == 0)or (( year%4 == 0 ) and ( year%100 != 0)))]
l

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [147]:
l=[1,2,3,2,1,4,4,5,6,7,4,5,5]
unique=[]

l

[3]

### iterators
    -->iterable -String,list,tuples,sets,dictionaries
    -->to convert iterable to iterator -->iter()

In [160]:
it=iter("vijay")
print('1:',next(it),'\n','2:',next(it))

1: v
 2: i

### Generator
    -->Generator is Funtion

In [171]:

def generator():
    n=2
    yield n
    
    n=n**3
    yield n
    
    n=n**3
    yield n
l=generator()
next(l)
next(l)
next(l)

512

In [177]:
def gen1():
    n=2
    for i in range(1,5):
        n**=3
        yield n
a=gen1()
next(a)
next(a)

512