### Python Library for data Analysis
### PAndas -Data Analysis
   - Series Object 
   - Updating DataFrame
   - Writing Dataframe back to csv file

In [10]:
## Funtion to read csv data into a dataframe
# return the Data Frame object
import pandas as pd
filepath='DataFiles/income.csv'
def readcsvdata(filepath):
    return pd.read_csv(filepath)
readcsvdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [11]:
# Funtion to print all column names in a single line
# GEOID States 2005 2006 2007 2008 2009 2010 2011 2012 2013
incomedf=readcsvdata(filepath)
def printDataframeColumns(df):
    columns=df.columns
    for column in columns:
        print(column, end = ' ')
    return 
printDataframeColumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [12]:
# Funtion to Access a row based  on  a unique column value
def accessDataFrameRow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ' )
                
                
    return 
accessDataFrameRow(incomedf,"04000US06")

04000US06 California 51755 55319 55734 57014 56134 54283 53367 57020 57528

In [21]:
# Accessing Unique value based on row ,column information
# Income of a state in a given year
def getrowindex(df,rowkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]== rowkey:
            rowindex=i
    return rowindex
def getcolumnindex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex = i
    return columnindex
def valueFromRowColumn(df,rowkey,columnkey):
#     for i in range(len(df.values)):
#         if df.values[i][0]==rowkey or df.values[i][1]== rowkey:
#             rowindex=i
#     for i in range(len(df.columns)):
#         if df.columns[i]==columnkey:
#             columnindex = i
    return df.values[getrowindex(df,rowkey)][getcolumnindex(df,columnkey)]
valueFromRowColumn(incomedf,'California','2009')

56134

In [22]:
def updateDtafromRowColumn(df,rowkey,columnkey,newincome):
    rowindex=getrowindex(df,rowkey)
    columnindex=getcolumnindex(df, columnkey)
    row=df.values[rowindex]
    row[columnindex]=newincome
    df.loc[rowindex]=row
    return 
updateDtafromRowColumn(incomedf,'California','2007','12435')
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,12435,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,12435,57014,56134,54283,53367,57020,57528

In [24]:
accessDataFrameRow(incomedf,'12345')

In [25]:
# Funtion to write dataframe to csv
incomedf.to_csv(filepath,index=False)

In [41]:
# Funtion to add a new row of data to dataframe
def addrowdataDataframe(df,rowdata):
    lastrowindex=len(df.values)-1
    df.loc[lastrowindex+1]=rowdata
rowdata=[1,2,3,4,5,6,7,8,9,10,11]
addrowdataDataframe(incomedf,rowdata)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,12435,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,12435,57014,56134,54283,53367,57020,57528
5,1,2,3,4,5,6,7,8,9,10,11
6,1,2,3,4,5,6,7,8,9,10,11
7,1,2,3,4,5,6,7,8,9,10,11
8,1,2,3,4,5,6,7,8,9,10,11
9,1,2,3,4,5,6,7,8,9,10,11
10,1,2,3,4,5,6,7,8,9,10,11
11,1,2,3,4,5,6,7,8,9,10,11
12,1,2,3,4,5,6,7,8,9,10,11
14,1,2,3,4,5,6,7,8,9,10,11
15,1,2,3,4,5,6,7,8,9,10,11

In [50]:
# Funtion to delete a row in a datafram
def deleteRowDataframe(df,rowkey):
    rowindex = getrowindex(df,rowkey
    return 
deleteRowDataframe(incomedf,2)
incomedf

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,12435,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,12435,57014,56134,54283,53367,57020,57528
5,1,2,3,4,5,6,7,8,9,10,11
6,1,2,3,4,5,6,7,8,9,10,11
7,1,2,3,4,5,6,7,8,9,10,11
8,1,2,3,4,5,6,7,8,9,10,11
9,1,2,3,4,5,6,7,8,9,10,11
10,1,2,3,4,5,6,7,8,9,10,11
11,1,2,3,4,5,6,7,8,9,10,11
12,1,2,3,4,5,6,7,8,9,10,11
14,1,2,3,4,5,6,7,8,9,10,11
15,1,2,3,4,5,6,7,8,9,10,11